/* FONT PIRATA */
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap");

/* FONT FRAKTURE */
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");

/* FONT LONG SHOT */
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

/*FONT ROBOTO*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-underline {
  position: relative;
}

iframe {
  pointer-events: none;
}

@media only screen and (min-width: 1025px) {
  .carousel .thumbs-wrapper {
    height: auto;
    margin-left: 200px !important;
  }
}

@media only screen and (max-width: 1023px) {
  .carousel .thumbs-wrapper {
    height: auto;
    margin-left: auto !important;
  }
}

#video {
  content:"";
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel .slide img {
  max-height: 850px; /* change this to whatever you want */
  width: 60% !important;
}

.carousel button {
  margin: auto;
}

.nav-underline::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.nav-underline:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* .bg-img {
  background-image: url("./img/gifback.gif");
  background-size: cover;
  background-repeat: no-repeat;
} */

/* body:after {
  content:"";
  position: fixed;
  top: 0;
  height: 100vh; 
  left: 0;
  right: 0;
  z-index: -1;
  background: url("./img/gifback.gif") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.photo {
  background-image: url("./img/bogdan.png");
}

* {
  scroll-behavior: smooth !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-fixed {
  background-attachment: fixed;
}

.font-pirata {
  font-family: "Pirata One", cursive;
}

.font-germania {
  font-family: "Germania One", cursive;
}

.font-fraktur {
  font-family: "UnifrakturCook", cursive;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}
