/* FONT PIRATA */
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=UnifrakturMaguntia&display=swap");

/* FONT FRAKTURE */
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");

/* FONT LONG SHOT */
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

/*FONT ROBOTO*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-underline {
  position: relative;
}

iframe {
  pointer-events: none;
}

img {
  width: 100%; /* or max-width: 100%; */
  height: auto;
}

@media only screen and (min-width: 1480px) {
  .carousel .thumbs-wrapper {
    padding-left: 60px !important;
  }
}
@media only screen and (min-width: 1650px) {
  .carousel .thumbs-wrapper {
    padding-left: 100px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .carousel .thumbs-wrapper {
    padding-left: 140px !important;
  }
}
@media only screen and (min-width: 1900px) {
  .carousel .thumbs-wrapper {
    padding-left: 180px !important;
  }
}
@media only screen and (min-width: 2000px) {
  .carousel .thumbs-wrapper {
    padding-left: 200px !important;
  }
}




.carousel .slide img {
  max-height: 900px !important; /* change this to whatever you want */
  width: 60% !important;
  border-radius: 15px;
}

.carousel button {
  margin: 10px;
}

/* @media only screen and (max-width: 1350px) {
  .carousel .thumbs-wrapper {
    padding-left: 100px !important;
  }
} */

.carousel .thumb {
  border: 1px solid #a2cee8 !important;
}

.nav-underline::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.nav-underline:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* .bg-img {
  background-image: url("./img/gifback.gif");
  background-size: cover;
  background-repeat: no-repeat;
} */

/* body:after {
  content:"";
  position: fixed;
  top: 0;
  height: 100vh; 
  left: 0;
  right: 0;
  z-index: -1;
  background: url("./img/gifback.gif") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* .photo {
  background-image: url("./img/bogdan.png");
} */

* {
  scroll-behavior: smooth !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.bg-fixed {
  background-attachment: fixed;
}

.font-pirata {
  font-family: "Pirata One", cursive;
}

.font-germania {
  font-family: "Germania One", cursive;
}

.font-fraktur {
  font-family: "UnifrakturCook", cursive;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}
